<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <!-- splash -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/js/typed.min.js"></script>
    <!-- splash -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
  </head>
  <body>

    
  	 <h2>Docker Demo</h2>
      <!-- <div class="container-fluid">
        <div class="spash-wrapper">
          <script>
            $(function(){
                $(".element").typed({
                  strings: ["git push resin master"],
                  typeSpeed: 200,
                  onStringTyped: function() {
                     setTimeout(function(){
                      $(".spash-wrapper").hide();
                      $(".dash-wrapper").show();
                     }, 1000);
                  },
                });
            });
          </script>
          <h1>$ <span class="element"></span></h1>
        </div> -->
        <div class="row dash-wrapper">
          <div class="col-xs-12">
      		  <div ng-controller="terminalCtrl">
              <p>{{tty}}</p>
            </div> <!-- ng-controller="terminalCtrl" -->
          </div> <!-- col-md-6 -->
          <div class="col-xs-6">
            <!-- <div ng-controller="devicesCtrl">
              <div ng-repeat="device in devices.resp">
                <div class="progress device">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{device.download_progress}}"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{device.download_progress}}%">
                    {{device.name}} 
                    {{device.status}}
                  </div>
                </div>
              </div> <!-- ng-repeat="device in devices"-->
            </div> <!-- ng-controller="devicesCtrl" --> -->
          </div> <!-- col-md-6 -->
        </div> <!-- row -->
      </div> <!-- container -->
      <!-- <div ng-controller="MyController">{{data}}</div> -->
  </body>
</html>
